<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" name="Swag Labs Test Automation Suite" parallel="tests" verbose="5">

    <listeners>
        <listener class-name="tests.TestListener"/>
    </listeners>

    <test name="Swag Labs Chrome Test Cases" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="LoginTest"></class>
        </classes>
    </test>

    <!-- <test name="Swag Labs Firefox Test Cases" parallel="methods" thread-count="2">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="LoginTest"></class>
        </classes>
    </test> -->

</suite>